* {
    box-sizing: border-box;
    object-fit: cover;
    color:white!important
}

.navbar .navbar-brand img {
    width: 100px;
}
.nav-link img {
    width: 30px;
}
.leftNav button{
border: none;
background-color: transparent;
}
header{
    padding-block: 10px;
}
.cards{
    width: calc(100% / 6);
    min-width: 200px
}
#carouselExample{
    margin-bottom: 80px;
}