* {
    box-sizing: border-box;
    object-fit: cover;
    color:white!important
}
.navbar .navbar-brand img {
    width: 100px;
}
.avatar {
    width: 30px;
}
header{
    padding-block: 10px;
}
.cards{
    width: calc(100% / 6);
    min-width: 200px;
}
.cards:hover{

}
footer{
    padding-inline: 250px;
}
footer ion-icon{
 font-size: 25px;
 padding-right: 15px;
}
p{
    font-size: small;
}
